/* VARIABLES */

:root {
  --body-padding: 0.5ch;  /* left and right */
  --content-padding: 1ch;
  --max-width: 65ch;

  --border-width: 3px;
  --border: var(--border-width) solid;
  --border-radius: 5px;

  --nav-word-spacing: 1.4ch;
  --nav-font-size: 1.1em;

  --content-line-height: 1.65;
  --post-info-line-height: 1.2;

  --body-bg-color: #f9f9f9;
  --content-bg-color: #fff;
  --fg-color: #004b80;

  --link-color: #28d;
  --link-visited-color: #75c;
}


/* MAIN LAYOUT */

* {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}
body {
  max-width: var(--max-width);
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
  margin: 0 auto;
}
header, nav, #content {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}
header, nav {
  margin-left: var(--border-width);
  margin-right: var(--border-width);
}
#content>:first-child {
  margin-top: 0;
}
#content>:last-child {
  margin-bottom: 0;
}
#content {
  padding-top: var(--content-padding);
  padding-bottom: var(--content-padding);
  border: var(--border);
  border-radius: var(--border-radius);
  line-height: var(--content-line-height);
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, li, table {
  margin-top: 0.33em;
}
a {
  word-wrap: break-word;
}


/* HEADER */

header {
  max-width: var(--max-width);
}

header img {
  width: 100%;
}


/* NAVIGATION LINKS */

nav {
  word-spacing: var(--nav-word-spacing);
}
nav a {
  font-size: var(--nav-font-size);
}


/* CONTENT HEADERS WITH FEED LINK */

#feed_header {
  display: table;
  width: 100%;
}
#feed_header h2 {
  display: table-cell;
}
#feed_header a {
  display: table-cell;
  text-align: right;
}


/* POSTS TABLES */

table.posts_list {
  border-spacing: 0;
}
table.posts_list th {
  font-style: italic;
  text-align: left;
}
table.posts_list th, table.posts_list td {
  padding: 0;
  padding-top: 0.5em;
  vertical-align: top;
}
table.posts_list tr:first-child th, table.posts_list tr:first-child td {
  padding-top: 0;
}
table.posts_list td.date, table.posts_list th.date {
  padding-right: 1.5ch;
}
table.posts_list td.date {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
}
table.posts_list .tag {
  white-space: nowrap;
}


/* POSTS */

#post_info {
  line-height: var(--post-info-line-height);
}
#post_dates, #event_date, #event_dates {
  font-size: small;
}


/* LISTS */

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 2.5ch;
}
ul>li:before {
  content: "–";
  position: absolute;
  left: -2.5ch;
}
ul>li {
  position: relative;
}


/* FONTS */

* {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 400;
}
strong {
  font-weight: 500;
}
h1 {
  font-size: x-large;
  font-weight: 500;
}
h2 {
  font-size: large;
  font-weight: 500;
}
h3 {
  font-size: medium;
  font-weight: 500;
}
h4 {
  font-size: medium;
  font-weight: 400;
  font-style: italic;
}
h5 {
  font-size: smaller;
  font-weight: 500;
}
h6 {
  font-size: smaller;
  font-weight: 400;
  font-style: italic;
}


/* COLORS */

body {
  background-color: var(--body-bg-color);
  color: var(--fg-color);
}
#content {
  background-color: var(--content-bg-color);
}
a, nav a:visited, #feed_link {
  color: var(--link-color);
}
a:visited {
  color: var(--link-visited-color);
}


/* MEDIA QUERIES */

@media only print {
  body, #content {
    background-color: white;
    border: none;
  }
  nav {
    display: none;
  }
}
