<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% feed_meta %}
    <link rel="stylesheet" href="/css.css">
    {% seo %}
  </head>
  <body>
    <header><h1>
      The Swedish National Committee for Logic, Methodology and Philosophy
    </h1></header>
    <nav>
      <a href="/">Home</a>
      <a href="/news/">News</a>
      <a href="/about/">About</a>
    </nav>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
